---

---


$sidebar-width: 280px;
$sidebar-margin: 0px;
$sidebar-fullwidth: $sidebar-width + (2 * $sidebar-margin);
$sidebar-background: #e7e7e7;

html {
    height: 100%;
}

body {
    margin-top: 0px;
    height: 100%;
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
}
.navbar-brand {
    /*margin-right: 30px;*/
}


// forcing the toggle button to be always displayed
.sidebar-toggle {
  display: inherit !important;
}
.menu-download {
    padding: 6px;
}

#navbar .btn-group {
    margin-top: 10px;
}

.navbar-with-sidebar {
    border-radius: 0;
}

.sidebar-panel {
    margin: 20px;
}

.sidebar-row {
    padding-bottom: 10px;
}

.row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    height: 100%;
    overflow-x: hidden;
}

#sidebar{
    position:fixed;
    right : 0;
    width:0;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.row-offcanvas.active #sidebar{
    width : $sidebar-width;
}
@media screen and (min-width: 768px) {
    .row-offcanvas.active{
        padding-right : $sidebar-width;
    }
}

.sidebar-offcanvas {
    height: 100%;
    top: 0;
    width: $sidebar-width;
    overflow-y: auto;
    background-color: $sidebar-background;
    padding-right: 0px;
    padding-top: 0px;
}
