/* SEE BOTTOM SECTION FOR QUICK EDIT TO CHANGE OVERALL COLOURS AND FONTS */


body.busy * {
  cursor: progress !important;
}

form.cw_form { /* TODO: name all CW forms and change this to effect only those! */
	padding: 0;
	margin: 0;
}

div.cw_list_header {
	padding: 0;
	margin: 4px;
	border-collapse: collapse;
}

div.cw_list {
	border: 1px solid #DDD;
}

div.export_options {
	text-align: right;
	font-size: 0.8em;
}

div.actions {
	text-align: right;
	font-size: 0.8em;
}

/*table.cw_list_header, */
/*table.cw_elist_header, */
table.cw_grid,
table.cw_egrid,
table.cw_list_footer {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	background-color: #EBEBEB;
	font-size: 1em;
}

table.cw_grid,
table.cw_list_header, 
table.cw_list_footer {
/*	min-width: 796px;
	max-width: 796px;
*/	
	width: 100%;
}

table.cw_egrid,
table.cw_elist_header {
	width: 100%;
}

table.cw_list_footer {
	padding: 0;
	margin: 0;
/*	line-height:1.5em;*/
}

table.cw_list_footer td {
	padding: 2px;
}

.cw_main_lister {
	border: 1px solid #BBB;
}

/*table.cw_list_header tbody {
	padding: 0;
	margin: 0;
	background-color:#EBEBEB;
	border: none;
}
*/
.cw_title_wrapper,
.cw_filter_box {
/*	border: 1px solid #999;*/
	height: 30px;
	background: #DDF8A9;
}

.cw_filter_box {
	margin-top: 4px;
/*	padding: 2px;*/
}

.cw_elist_header .cw_title_wrapper,
.cw_elist_header .cw_filter_box {
	background: transparent;
/*	#E5E5E5;*/
}

.cw_filters_title,
.cw_filters_title a {
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	color: #777;
	text-decoration: none;
}

.cw_space_reset {
	padding: 0px !important;
	margin: 0px !important;
}

.cw_filters {
	float: right;
	margin-top: 4px;
	margin-right: 4px;
}
.cw_filters form {
	padding: 0 !important;
	margin: 0 !important;
}
.cw_filters form select {
	font-size: 0.8em;
	max-width: 300px;
}
.cw_filters form select option {
	padding-top: 2px;
	padding-left: 2px;
}

.cw_filters_right {
	float: right;
	padding-left: 2px;
}

.cw_filters_right input {
	margin-top: 1px;
	margin-left: 0px;
}
.cw_filters_right select {
	margin-top: 1px;
}


/*
.cw_filters_container {
	margin-right: 1px !important;
}

.cw_filters_container_content {
	padding: 0px !important;
	margin: 0px !important;
	padding-bottom: 1px !important;
	padding-top: 3px !important;
}


*/
div.cw_quick_filters {
	float: right;
	margin-right: 2px !important;
	margin-top: 6px !important;
}

.cw_quick_filters a.abutton_condensed,
.cw_quick_filters a.abutton {
	margin-right: 2px;
}


.cw_title {
	font-size: 1.4em;
	font-weight: bold;
	color: #555;
	padding: 5px;
	padding-left: 10px;
}

.cw_elist_header * div.cw_title {
	font-size: 1.25em;	
	padding-top: 7px;
}

#cw_filter_actions {
	padding: 7px !important;
}
#cw_filter_actions a {
	text-decoration: none;
	padding: 4px;
}


/*
.cw_filter_redux {
	min-width: 260px;
	width: 260px;
}

.cw_filter_redux div.cw_filter_redux_value {
	float:right;
	font-size:12px;
	padding: 4px;
}
.cw_filter_redux span.cw_redux_add {
	position: relative;
	top: 8px;
	left: auto;
	float: right;
}
table.cw_new_filter {
	font-size: 0.8em;
}

*/
.filter_select_container {
	float: left;
	padding: 3px;
	border: 1px solid rgb(187, 187, 187);
/*	width: 130px;*/
/*	margin-right: 1px;*/
/*	background-color: #efefef;*/
}
.filter_select_container select,
.filter_select_container input {
/*	font-size: 10px !important;*/
/*	line-height: 9px;*/
	height: 18px;
	width: 200px;
	border: 0px !important;
	background-color: #efefef;
}
	
.filter_select_container label {
	display:block;
	font-weight:bold;
	text-align:right;
	font-size: 12px;
	line-height: 12px;
	color:#666;
	margin-top: 2px;
	float:right;
}
.filter_select_container .small  {
	color:#888;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	line-height: 12px;

}

.cw_applied_filters {
white-space: nowrap !important;
}

.cw_applied_filter_button {
	float: right;
	margin: 0;
	margin-right: 1px;
	margin-bottom: 4px;
	padding: 0;
}

.cw_applied_filter_text {
	float: right;
	padding: 2px;
}




div.cw_elist_header {
/*	padding: 5px;*/
	margin: 0;
/*	background-color:#EEEEEE;*/
/*	border: 2px solid #F7F7F7;*/
/*	border-bottom: 0;*/
/*	margin-bottom:2px;*/
}


/*label.cw_function_title {
	width: auto;
}
*/
/*.cw_grid tbody {
	border: 2px solid #BCBCBC;
	border-top: none;
	border-bottom: none;
}*/

.cw_grid th,
div.cw_list table.cw_egrid th {
	text-align: left;
/*	border: none !important;*/
	border-right: 1px solid #C0C0C0;
	background-color:#AAA;
}

.cw_grid th.last {
	border-right: none !important;
}

.cw_grid th a,
div.cw_list table.cw_egrid th a {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 16px;
	background-color:#CCC !important;
	display:block;
/*	color: white !important;*/
	text-decoration: none;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}
table.cw_grid th a:hover,
div.cw_list table.cw_egrid th a:hover {
	background-color: #AAA !important;
	color: #fff;
}
.cw_grid th.nosort,
div.cw_list table.cw_egrid th.nosort {
	padding-left: 4px;
	background-color:#CCC;
/*	color: white;*/
	font-weight: normal;
}
.cw_grid th.sorted,
div.cw_list table.cw_egrid th.sorted {
	background-color: #AAA !important;
}

.cw_grid th.asc a,
.cw_grid th.asc a:hover,
div.cw_list table.cw_egrid th.asc a,
div.cw_list table.cw_egrid th.asc a:hover  {
	background: #AAA url(/images/cutters_wheel/arrow_up.gif) right 50% no-repeat !important;
}

.cw_grid th.desc a,
.cw_grid th.desc a:hover,
div.cw_list table.cw_egrid th.desc a,
div.cw_list table.cw_egrid th.desc a:hover {
	background: #AAA url(/images/cutters_wheel/arrow_down.gif) right 50% no-repeat !important;
}

.cw_grid th.loading a,
.cw_grid th.loading a:hover,
div.cw_list table.cw_egrid th.loading a,
div.cw_list table.cw_egrid th.loading a:hover {
	background: #AAA url(/images/cutters_wheel/spinner_small.gif) right 50% no-repeat !important;
}

.cw_grid td {
	padding: 0px;
	margin: 0px;
}

.cw_grid td a,
div.cw_list table.cw_egrid td a {
	color: #3C6491;
	text-decoration: none;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}


/* embedded */

table.cw_grid tr.cw_embedded, table.cw_grid tr.cw_embedded td {
	padding: 0;
	margin: 0;
}

table.cw_grid tr.cw_embedded td.cw_embedded_image {
	padding: 5px !important; 
}

td.cw_embedded_image div.cw_embedded_image_div {
	background-color: #FFFFFF; 
}

div.ui-widget-content.cw_embedded_list {
	background: none !important;
/*	background-color: #DDD !important;*/
}

div.collapsible_section_toggle {
	padding: 2px;
	padding-left:5px;
	font-size: 0.9em;
}
/*.cw_collapsible_section {
	padding: 10px;
	background-color: white;
}
*/

div.cw_list table.cw_egrid {
	width: 100%;
}

div.cw_list table.cw_egrid th.last {
	border-right: 0 !important;
}

div.cw_list table.cw_egrid td {
	padding: 4px;
/*	padding-left: 4px;*/
}
/* end embedded */

/*****************/
/* FIELDS        */
/*****************/

/*.cw_show_panel ul li {*/
/*	list-style-image:none;*/
/*	list-style-position:outside;*/
/*	list-style-type:none;	*/
/*}*/

.cw_rating_bar {
  width: 45px !important;
  height: 9px !important;
  background: url(/images/rating_grey.png) 0 0 repeat-x;
}

.cw_rating_bar div {
  height: 9px;
  background: url(/images/rating.png) 0 0 repeat-x;
}

.cw_compact_show_panel {
	padding: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 1.0em;
	line-height: 1.4em;
}
.cw_compact_show_panel a {
	text-decoration: none;
	font-style: normal;
	color: #3C6491 !important;
	border-bottom: #DDD 1px dashed;
}

.cw_compact_show_panel a:hover {
	color: rgb(54, 68, 34) !important;
	border-bottom: #AAA 1px dashed;
}


.cw_compact_field {
/*	margin-top: 4px;
	margin-bottom: 4px;
*/	
	padding: 4px;
	border:1px solid #AAA;
	font-size: 0.9em;
	color: #777;
	background-color: #d1d1d1;
	opacity: 0.8;
}
.cw_mini_panel {
/*	padding: 4px;*/
	padding: 10px;
	padding-top: 0;
/*	background-color: #f5f5f5;*/
}
.cw_mini_panel table {
	width: 100%;
	margin-bottom: 10px !important;

/*	font-size: 0.92em !important;
	line-height: 1.2em !important;
*/
}
.cw_mini_panel table td {
	vertical-align: top;
}
/*.cw_mini_panel table td[rowspan="1"] {
	vertical-align: bottom;
}
*/
.cw_mini_panel table th, 
.cw_mini_panel table td {
	padding-right: 4px;
	padding-left: 4px;
}
.cw_mini_panel table input,
.cw_mini_panel table select,
.cw_mini_panel table textarea {
	width: 100%;
	border:1px solid #BDD889;
	border-left:1px solid #9BB667;
	border-top:1px solid #9BB667;
	padding: 2px;
}

.cw_mini_panel table input,
.cw_mini_panel table select {
	font-size: 1em;
	
}

.cw_mini_panel table .mini_cell {
	padding: 4px;
}
.cw_mini_panel table .mini_header {
	padding: 2px;
/*	padding-top: 16px;*/
	overflow: none;

/*	height: 2em;*/
	letter-spacing: 0.02em;
	color: rgb(54, 68, 34);
	padding-bottom: 5px !important;
}

.cw_panel_title {
	color: #364422;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1.9em;
	margin-left: 4px;
}

.cw_embedded_list {
/*	border-right: none !important;*/
/*	border-left: none !important;*/
	border: none !important;
	margin: 8px !important;
/*	margin-left: 8px !important;*/
}
.cw_embedded_padded {
	margin: 8px 8px 0px 8px;
}

.cw_main_panel {
	background-color: #d8e6bc;
}

a.cw_gentle_link {
	text-decoration: none;
	color: #575;
}
/*****************/
/* PAGINATION */
/*****************/
.cw_pagination {
	padding: 0;
	margin: 0;
	min-height: 20px;
}
.cw_pagination a.top_link {
	margin: 4px;
	text-decoration: none;
	font-size: 0.8em;
	padding-left: 4px
}
.cw_pagination a.disabled {
	color: #aaa;
}

div.cw_pager_info_and_actions {
	float: left;
	padding: 4px;
	padding-left: 8px;
}

div.cw_pager {
	float: right;
	padding: 4px;
}

span.cw_model_actions a,
div.cw_pager_info_and_actions a,
div.cw_pager a {
	color: #3C6491;
	text-decoration: none;
	padding: 3px;
/*	font-weight: bold;*/
	font-variant:small-caps;
}

.cw_tabbed {
	background-color: #DDD;
	font-weight: bold;
	width: 110px;
/*	border: 2px solid #888;*/
	border-bottom: 0;
/*	color: white;*/
}
table.cw_grid td div.cw_tabbed a {
	font-weight: bold;
}

table.cw_grid tr.cw_tabbed_row td {
	padding-bottom: 0;
	font-weight: bold;
}

.cw_tabbed_row td a {
	font-weight: bold;
}


.cw_related_object {
	font-weight: bold;
	color: #91643C;
}

.cw_related_object a {
	text-decoration: none;
	color: #3C6491;
}


/*****************/
/* CONTEXT       */
/*****************/
#cw_context_browser {
	padding: 0;
	margin: 0;
/*	min-height: 27px;*/
	margin-bottom: 1px;
	padding-top: 1px;
/*	clear: both;*/
}
#cw_context_browser div {
	margin-bottom: 1px;
	line-height: 1.2em;
}

#cw_context_browser .abuttonset {
	padding-right: 6px;
}

/*#cw_context_browser div.cw_mini_drop_down div.cw_mini_drop_down_panel {
    display: none;
	color: red;
	background-color: green;
	border: 1px solid #AAA;
	position: relative;
	top: 25px;
	left: 5px;
}
#cw_context_browser div.cw_mini_drop_down:hover > div.cw_mini_drop_down_panel {
    display: block;
}
*/
/*****************/
/* SHOW ONLY     */
/*****************/
.cw_show_page_title {
	font-weight: bold;
	padding: 8px;
/*	font-size: 120%;*/
	margin-bottom: 8px;
	border:solid 1px #b7b7b7;
	background:#ebebeb;
/*	border:solid 2px #b7ddf2;*/
/*	background:#ebf4fb;*/
}

.cw_show_column_full {
/*	border-right: 1px solid #aaa;*/
	margin: 4px;
/*	float: left;*/
/*	width: 49%;*/
}

/*****************/
/* EDIT AND SHOW */
/*****************/

.cw_page_title, .cw_page_title_small, .cw_page_title_smaller {
	color: #364422;
	float: left; 
	font-weight: bold;
	margin-top: 2px;
	padding-left: 4px;
}
.cw_page_title {
	font-size: 1.1em;
	line-height: 1.4em;
}

.cw_page_title_small {
	font-size: 1em;
}
.cw_page_title_smaller {
	font-size: 0.8em;
}

.cw_page_actions {
	float: right;
	margin-top: 5px !important;
}

.cw_form_tip {
}


.cw_form_field_info {
	background: transparent url(/images/clue_bg.png);
	font-weight: bold;
	position: relative;
	top: -5px !important;
	font-size: 0.7em;
/*	margin-left: 2px;*/
}
.cw_form_field_info a {
	opacity: 0.7;
	padding: 2px;
	text-decoration: none;
	font-weight: bold;
	color: #777 !important;
/*	background-color: #ddf1b5 !important;
	color: #555 !important;
	padding: 2px;
	margin: 0;
*/
}

.cw_form_field_info a:hover {
	background-color: #ffffff !important;
	color: #000 !important;
	border: none !important;
}

.cw_multi_select {
	background-color: #eee;
	color: black;
	padding: 4px;
	padding-bottom: 8px;
}

.cw_multi_select a {
	opacity: 0.8;
}
/*
.cw_form_field_info {
	position: relative;
	top: 5px;
	left: 2px;
	width: 20px;
}

.cw_form_field_info a {
	text-decoration: none;
	font-weight: bold;
	background-color: #ddf1b5 !important;
	color: #555 !important;
	padding: 2px;
	margin: 0;
}

.cw_form_field_info a:hover {
	background-color: #edf8d7 !important;
	color: #777 !important;
}

*//*.cw_page_actions a {
	height: 16px;
}
*/
/*
a.cw_action_button {
	color: #3C6491;
	text-decoration: none;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:italic;
	font-variant:small-caps;
	font-weight:bold;
	line-height:normal;
}

*/

.advanced_admin_options {
/*	margin-bottom: 10px;*/
	clear: none;
}

.advanced_admin_options span.read-more,
.advanced_admin_options span.re-collapse {
	padding-left: 0;
}

.advanced_admin_options span.read-more a,
.advanced_admin_options span.re-collapse a {
	opacity: 0.5;
}

.cw_delete_button {
	background: none !important;
	background-color: #FF1900 !important;
	color: black !important;
}

.cw_delete_button:hover {
	background-color: black !important;
	color: red !important;
}
.cw_delete_red .ui-widget-header {
	background: none !important;
	background-color: red !important;	
}
a.cw_action_button {
	float: right !important;
	margin: 6px;
	margin-bottom: 4px;
	margin-left: 10px;
	margin-right: 14px;
}
a.cw_other_button {
	margin: 0px;
}
.cw_panel_padder {
/*	border: 5px #EEE solid !important;
	border-left: 10px #EEE solid !important;
	border-right: 10px #EEE solid !important;
*/
	padding: 10px !important;
}
.cw_accordion_bottom {
	margin-bottom: 25px !important;
}
table.cw_egrid td a.cw_red_edit,
a.cw_red_edit {
	text-decoration: none;
	color: #AA5141 !important;
}
table.cw_egrid td a.cw_red_edit:hover {
	color: #993121 !important;
}
.cw_edit_panel, .cw_show_panel {
	font-size: 0.9em;
	overflow: hidden !important;
	border:solid 1px #DDD;
	/*background:#F5F5F5;*/
	min-height: 24px;
	padding: 0px !important;
}
.cw_show_panel { border-top: none; border-bottom: none; }
.cw_mini_panel,
.cw_edit_panel {
	padding-bottom: 10px !important;
	margin-bottom: 10px !important;
}

.cw_edit_panel h1, .cw_show_panel h1 {
	font-size:1.3em;
	font-weight:bold;
	line-height: 1.5em;
	padding: 0.2em;
	color: #555;
/*	margin-bottom:8px;*/
}
.cw_edit_panel p.title, .cw_show_panel p.title {
	font-size:1.1em;
	color:#666666;
/*	margin-bottom:0.2em;*/
	border-bottom:solid 1px #b7b7b7;
	padding-bottom:10px;
}
.cw_edit_panel label, .cw_show_panel label {
	font-size: 0.9em;
	display:block;
	font-weight:bold;
	text-align:right;
	width:160px;
	float:left;
}

.cw_edit_panel .small, .cw_show_panel .small  {
	color:#666666;
	display:block;
	font-size:0.82em;
	font-weight:normal;
	text-align:right;
	width:160px;
}
.cw_show_panel div.cw_show_value {
	float:left;
	font-size:0.87em;
	padding: 4px;
	padding-left: 7px;
	border:solid 1px #aacfe4;
	width:260px;
	margin:2px 0 20px 10px;
	background-color: white;
}

div.cw_degradable_panel_title {
/*	border:solid 1px #b7b7b7;*/
/*	background:#ebebeb;*/
	padding: 4px;
}

div.cw_degradable_panel_title a {
	text-decoration: none;
	color: black;
}

.cw_break_fix {
	clear: both; 
	height: 0px !important;
	line-height: 0px !important;
}



.cw_ac_mini_table {
	font-size: 0.8em;
	line-height: 1.1em;
}
.cw_ac_mini_table td {
	padding: 2px !important;
}

div.cw_ac_selected .cw_ac_mini_table {
	font-size: 0.8em !important;
	line-height: 1.1em !important;
}
div.cw_ac_selected .cw_ac_mini_table {
padding: 2px;
}
/****************************/
/* CRUMBS 				 	*/
/****************************/

#cw_crumbs {
/*overflow: hidden;*/
/*height: 20px;*/
/*padding-top: 4px;*/
padding-left: 3px;
padding-bottom: 4px;
}

#cw_crumbs span.crumb_series,
#cw_crumbs span.crumb {
margin: 0;
padding: 0;
padding-left: 20px;
background: url(/images/green_arrow.png) no-repeat 0px 4px;
line-height: 1.3em;
}
#cw_crumbs span.crumb_series {
background: url(/images/book.png) no-repeat 0px 2px;
padding-left: 21px;
}
/*#cw_crumbs span,*/
#cw_crumbs span a {
/*	text-indent: 18px;*/
	font-weight: normal;
	text-decoration: none;
	color: #555;
	padding: 0px;
}
#cw_crumbs span a:hover {
	color: #518835;
}


/*
OLD STUFF
#cw_crumbs ul {
margin: 0;
padding: 0;
white-space: nowrap;
}

#cw_crumbs ul li {
margin: 0;
padding: 0;
padding-left: 20px;
display: inline;
list-style-type: none;
background: url(/images/green_arrow.png) no-repeat 0px 3px;
}
#cw_crumbs ul li.first {
background: url(/images/book.png) no-repeat 0px 2px;
padding-left: 23px;
}
#cw_crumbs ul li span,
#cw_crumbs ul li a {
	font-weight: normal;
	text-decoration: none;
	color: #555;
	padding: 0px;
}
#cw_crumbs ul li a:hover {
	color: #518835;
}
*/
/****************************/
/* OLD VERSIONS 		 	*/
/****************************/
#versions table {
	background-color: #E1E1E1;
}
#versions table th {
	text-align: left;
	background-color: #D5D5D5;
}

/****************************/
/* RTE - rich html editor   */
/****************************/
.rte-zone {
/*    width:760px;*/
width: 100%;
    margin:0;
    padding:0;
/*    border:1px #aacfe4 solid;*/
    clear:both;
    height:600px;
    display:block;
	background-color: #ffffff;
}

.rte-toolbar { 
	overflow:hidden;
}

.rte-toolbar select { 
	padding: 0;
	margin: 0;
}

.rte-toolbar a, .rte-toolbar a img {
	border:0;
}

.rte-toolbar p {
    float:left;
    margin:0;
	padding: 5px;
/*    padding-right:5px;*/
}


a.rte-edm {
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	color: #777;
	font-weight: bold;
	padding: 4px;
}
/*.rte-toolbar * p {*/


/****************************/
/* JQUERY UI BUTTONS 		*/
/****************************/
/* UI THEMED BUTTONS/LINKS based on http://www.filamentgroup.com/examples/buttonFrameworkCSS/ -- http://www.filamentgroup.com/lab/styling_buttons_and_toolbars_with_the_jquery_ui_css_framework/ */

.abutton,
.abutton_condensed { 
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .35em .6em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
/*   text-align: center;*/
   zoom: 1; 
}



.abutton .ui-icon,
.abutton_condensed .ui-icon { 
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 50%;
	margin-left: -8px;
}

a.abutton { float: left; }

/* remove extra button width in IE */
button.abutton { width:auto; overflow:visible; }
button.abutton_condensed { 
	width:auto;
	overflow:visible;
	height: 22px;
	width: 22px !important;
	padding: 0;
	margin: 0;
}
button.abutton_condensed .ui-icon {
/*	position: relative;*/
	left: 7px !important;
	top: 7px !important;
}
.abutton_condensed { 
   margin: 0;
/*height: 18px;*/
   padding: 3px;
}

.abutton-icon-left { padding-left: 2.1em; }
.abutton-icon-right { padding-right: 2.1em; }
.abutton-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.abutton-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.abutton-icon-solo { display:block; width:8px; text-indent: -9999px; } /* solo icon buttons must have block properties for the text-indent to work */

button.abutton-icon-left .ui-icon {left: -0.1em;}
button.abutton-icon-right .ui-icon {right: 1.7em;}
button.abutton-icon-solo .ui-icon {left: 0;} 

.abuttonset { float:left; }
.abuttonset .abutton { float: left; }
.abuttonset-single .abutton,
.abuttonset-multi .abutton { margin-right: -1px; }

.atoolbar { padding: .5em; margin: 0; }
.atoolbar .abuttonset { margin-right:1.5em; padding-left: 1px; }
.atoolbar .abutton { font-size: 1em; }

.atooltext { float: left; }


.bbutton {
	height: 22px !important;
	width: 22px !important;

}

/****************************/
/* SHOW/EDIR ERRORS/NOTICES */
/****************************/

.cw_errors, .cw_notices {
	margin-bottom: 20px;
	padding:14px;
	border:solid 2px #f53939;
	background:#f5bfbf;
}

.cw_errors ul, .cw_notices ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

.cw_errors ul li, .cw_notices ul li {
	padding: 4px;
}

.cw_errors h1, .cw_notices h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
	color:#f53939;
}

.cw_errors p.title, .cw_notices p.title {
	font-size:11px;
	color:#f53939;
	margin-bottom:20px;
	border-bottom:solid 1px #f53939;
	padding-bottom:10px;
}

.cw_notices {
	border:solid 2px #328000;
	background:#c9d9bf;
}
.cw_notices h1 {
	color:#328000;
}
.cw_notices p.title {
	color:#328000;
	border-bottom:solid 1px #328000;
}


/* BOTTOM SECTION HERE, NOW! Change the items below to change fonts and colours */
/*
ddf1b5
edf8d7
f6fde8
fdfff9
*/

.cw_grid tr.evenrow,
.cw_grid tr.evenrow td {
	background-color: #eef8e0;
}

.cw_grid tr.oddrow,
.cw_grid tr.oddrow td {
	background-color: #f7fcf3;	
}

table.cw_grid tr.evenrow td.sorted {
	background-color: #ddf1b5;
}

table.cw_grid tr.oddrow td.sorted {
	background-color: #edf8d7;	
}

.cw_egrid tr.evenrow td {
	background-color: #dfdfdf;
}

.cw_egrid tr.oddrow td {
	background-color: #e7e7e7;	
}

table.cw_egrid tr.evenrow td.sorted {
	background-color: #cfcfcf;
}

table.cw_egrid tr.oddrow td.sorted {
	background-color: #dbdbdb;
}


.cw_grid tr.evenrow td,
.cw_grid tr.oddrow td,
table.cw_egrid tr.evenrow td,
table.cw_egrid tr.oddrow td {
	padding: 4px;
}

.cw_show_panel div.cw_show_value, .cw_show_panel div.extra_wide, .cw_show_panel div.wide, .cw_show_panel div.extra_short,
.cw_edit_panel input,
.cw_edit_panel textarea, .cw_edit_panel textarea.large {
/*	border:solid 1px #e4cfaa;*/
	border:solid 1px #BDD889;
	/*height: 300px;*/
}
.cw_edit_panel textarea.extra-large {
/*	border:solid 1px #e4cfaa;*/
	height: 300px;
}
textarea.rte-zone {	border: none !important; }

div.advanced_search {
	line-height: 1.5;
	padding-top: 10px;
	padding-bottom: 5px;
}

div#advanced_search_issues {
	margin-top: 20px;
	border-top: 1px solid grey;
}

div.advanced_search .check {
	margin-right: 5px;
}

/*
xxxxlabel {
width: 6em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block;
font-weight: bold;
}
*/

#cw_crumbs ul li.crumb_series a {
	font-weight: bold;
	font-style: italic;
}

#cw_crumbs ul li a span.crumb_volnumber {
	font-weight: bold;
}
#cw_crumbs ul li span span.crumb_title, #cw_crumbs ul li a span.crumb_title {
	font-weight: bold;
}
.admin_italics {
	font-style: italic;
}

.cw_compact_show_panel div.member_attribute {
	padding-bottom: 0.8em;
}
.cw_compact_show_panel div.member_attribute div.attribute_title {	
	padding-bottom: 4px;
	font-weight: bold;
	text-transform: uppercase;
}
.cw_compact_show_panel div.member_attribute div.attribute_value {	
	padding-left: 4px;
}
.show_title_grey {
	background-color: #E9E9E9;
}
.cw_edit_page_title_container,
.cw_show_page_title_container {
	margin-top: 5px;	
	border: 1px solid #CCC;	
}
.cw_show_page_footer {
	background-color: #F5F5F5;
	border: 1px solid #CCC;	
	border-top: none !important;
	line-height: 1.3em;
	padding: 6px;	
}
.cw_show_page_title_container {
	background-color: #E1E1E1;
	border-bottom: none !important;
	padding: 4px;
}
.cw_edit_page_title_container {
	margin-bottom: 10px !important;
}

.cw_show_panel * div.cw_embedded_list {
/*border: 1px solid #AAA !important;*/
background: #E5E5E5 !important;
}