/* Everything should branch off ID pe_page so it overrides all other css */
#pe_page {
	width: 990px;
	padding: 0;
	margin: 0;
	margin-left: 2px;
}

#pe_left {
	float: left;
	width: 490px;
	/*padding-right: 2px;*/
}

#pe_left_secondary {
	float: left;
	width: 490px;
	/*padding-right: 2px;*/
	/*left-right: 2px;*/
}

#pe_right_main {
	float: right;
	width: 490px;
	margin: 0;
	padding: 0;
}

#pe_left_old_versions {
	float: right;
	width: 490px;
	margin: 0;
}

#pe_navigation_panels {
	margin-bottom: 3px
}

#pe_navigation_panel1,
#pe_navigation_panel2 {
	width: 990px;
	padding: 0;
	margin-bottom: 3px
}


.pe_column_toggle {
	text-align: right;
	height: 6px;
}
.pe_column_toggle a {
	line-height: 4px;
	text-decoration: none;
	position: relative;
	top: -5px;
	left: -5px;
	padding: 0;
	margin-top: -6px;
}

#pe_page table.pe_grid {
	width: 484px;
	max-width: 484px;
}

table.pe_grid,
table.pe_grid_header {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 484px;
}

table.pe_grid_footer {
	margin-top: 4px;
}

table.pe_grid_header td {
	padding: 1px;
}

table.pe_grid_header {
	padding: 5px;
	margin: 0;
	border-bottom: 0;	
}

#pe_column_1 table.pe_grid_header {
	background-color:#E5D5D5;
}
#pe_column_2 table.pe_grid_header {
	background-color:#D5D9E5;
}
table.pe_grid_header p.cw_title {
	font-size: 1.1em;
	font-weight: bold;
	color: #555;
	padding: 4px;
}
table.pe_grid_header span.cw_pager {
	padding: 4px;
	color: #555;
	font-size: 0.9em;
}

.pe_grid th {
	width: 100%;
	text-align: left;
/*	border-right: 2px solid #CCC;*/
}

.pe_grid th.last {
	border-right: 0;
}

.pe_grid th a {
	padding-left: 4px;
	padding-right: 16px;
	background-color:#555555;
	display:block;
	color: white;
	text-decoration: none;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}
.pe_grid th a:hover {
	background-color: #000;
	color: #fff;
}

.pe_grid th.nosort {
	padding-left: 4px;
	background-color:#777;
	color: white;
}
.pe_grid th.sorted {
	background-color: #333;
}

.pe_grid th.asc a,
.pe_grid th.asc a:hover {
	background: #333 url(/images/cutters_wheel/arrow_up.gif) right 50% no-repeat;
}

.pe_grid th.desc a,
.pe_grid th.desc a:hover {
	background: #333 url(/images/cutters_wheel/arrow_down.gif) right 50% no-repeat;
}

.pe_grid th.loading a,
.pe_grid th.loading a:hover {
	background: #333 url(/images/cutters_wheel/spinner_small.gif) right 50% no-repeat;
}

.pe_grid td {
	padding: 0px;
	margin: 0px;
}

.pe_grid td a {
	color: #3C6491;
	text-decoration: none;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

.pe_grid tr.evenrow,
table.pe_grid tr.evenrow td.sorted {
	background-color: #fff2f2;
}

.pe_grid tr.oddrow,
table.pe_grid tr.oddrow td.sorted {
	background-color: #fffafa;	
}

.pe_grid tr.evenrow,
table.pe_grid tr.evenrow td.sorted {
	background-color: #F6F8FF;
}

.pe_grid tr.oddrow,
table.pe_grid tr.oddrow td.sorted {
	background-color: #EDEFFD;	
}


.pe_grid tr.evenrow td {
	padding: 4px;
}

.pe_grid tr.oddrow td {
	padding: 4px;
}

table.pe_grid tr.evenrow td {
	padding: 4px;
}

table.pe_grid tr.oddrow td {
	padding: 4px;
}

.pe_marc_editor {
   margin-top: 10px;
	width: 800px;
	height: 400px;
}

/* grid */

dl.pe_tags {
	width: 464px;
/*	background-color: red;*/
}

dl.pe_tags dt {
	margin-bottom: 10px;
	background-color: #f8f8f8;
}

dl.pe_tags input {
	width: 100%;
	background-color: #f9f1f1;
/*	padding: 2px;*/
	border: 1px solid #999;
	margin: 0;
}

dl.pe_tags label {
	width: 100%;
/*	background-color: #efefff;*/
	padding: 2px;
}

.pe_tag_label {
	background-color: #ddd;
}


/* tables */ 

/* tag block */

table._lp_tag_list_header {
	width: 100%;
	background-color: #FFCCB3;
}

table._lp_tag_list_footer {
	width: 100%;
	background-color: #ffeee5;
	/*margin-bottom: 8px;*/
}

table._lp_tag_block {
	width: 100%;
	padding: 0px;
	margin: 0;
}

dl._lp_tag_block {
	width: 100%;
	padding: 0px;
	margin: 0;
}

table._lp_add {
	width: 100%;
}

/* tag */

table._lp_tag_header {
	width: 100%;
	background-color: #ffeee5;
}

dl._lp_tag_block dt {
	margin: 0px;
	padding: 0px;
	background-color: #f8f8f8;
}

/*
dl._lp_tag_block input {
	width: 100%;
	background-color: #f9f1f1;
//	padding: 2px;
	border: 1px solid #999;
	margin: 0;
}
*/

dl._lp_tag_block label {
	width: 100%;
	/* background-color: #efefff; */
	padding: 2px;
}

.pe_tag_label {
	background-color: #ddd;
}

table.pe_tag_label {
	width: 100%;
}

.pe_tag_label {
	background-color: #ddd;
}

table._lp_tag_list_header td._lp_tag_help {
	text-align: right;
}

._lp_toolbar_title { 
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .2em .6em; 
	 font-weight: bold;
}

.pe_info a {
	vertical-align: center;
}

.pe_button {
	 width: 10px;
}


/* PE CELL - for grid layout */
.pe_grid_panel {
	padding: 12px !important;
	padding-top: 6px !important;
	border: 1px solid #aaa;
	margin: 18px 18px 4px 18px !important;
}
.pe_grid_panel table.tag_grid {
	width: 100%;
/*	background-color: orange;*/
}
.pe_grid_panel table.tag_grid td {
	vertical-align: top;
}
/*.pe_grid_panel table td[rowspan="1"] {
	vertical-align: bottom;
}
*/
.pe_grid_panel table.tag_grid th, 
.pe_grid_panel table.tag_grid td {
	padding-right: 4px;
	padding-left: 4px;

}
.pe_grid_panel input,
.pe_grid_panel select,
.pe_grid_panel textarea {
	width: 100%;
	border:1px solid #888;
	border-right:1px solid #b6b6b6;
	border-bottom:1px solid #b6b6b6;
}

.pe_grid_panel input,
.pe_grid_panel select {
	font-size: 1em;
	
}

.pe_grid_panel select {
	padding: 1px 0px 0px 0px;
}

.pe_grid_panel input {
	padding: 1px 0px 2px 0px;
}

.pe_grid_panel .mini_cell {
	padding: 4px;
}
.pe_grid_panel .mini_header {
	padding: 2px;
	overflow: none;
/*	letter-spacing: 0.02em;*/
	color: #555;
	font-weight: bold;
	padding-bottom: 5px !important;
}

.pe_grid_panel .mini_header a {
	text-decoration: none;
}

.ac_popup_edit {
	background-image:url('/images/textfield_key.png');
	background-repeat: no-repeat;
	background-position: center right;
	color: #000000;
}
.ac_popup_button a {
/*	top: -3px;*/
	margin: 0 0 0 3px;
	height: 10px;
}

.pe_grid_internal_layout {
	width: 100%;
	padding: 0px !important; 
	margin: 0px !important;
}
.pe_grid_panel table.pe_grid_internal_layout tr,
.pe_grid_panel table.pe_grid_internal_layout td {
	padding: 0;
	margin: 0;
}
.pe_pae_info { margin-left: 1px; margin-top: 3px; border: #aaa solid 1px; height: 2em; background-color: white }

.pe_group_title {
	font-size: 1.2em;
/*	font-variant: small-caps;*/
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #cdb3a5;
	border-bottom: #9d8375 1px solid;
	line-height: 1.9em;
}
.pe_group_panel {
	border: 1px solid #cdb3a5;
	margin-top: 6px;
	margin-bottom: 30px;
	background-color: #f8e6df;
	padding-bottom: 12px;
}

.pe_grid_tag_tab {
	position: relative;
	top: -7px;
	left: -13px;
	height: 30px;
	max-height: 30px;
	line-height: 28px;
	background-color: #bbb;
	width: 300px;
	background-image:url('/images/tagtab.gif');
	background-repeat: no-repeat;
	background-position: center right;
}
.pe_grid_tag_tab span {
	padding-left: 8px;
}
.pe_group_actions {
	padding: 7px;
	background-color: #FFCCB3;
}

.pe_button_pad_left {
	margin-left: 4px !important;
}

#pe_float_menu {
	float: right;
	width: 166px;
	max-width: 166px;
	background-color: #FFCCB3;
	padding: 6px;
	border: 1px solid #AAA;
}
#pe_float_menu ul {
   padding: 0;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;	

}
#pe_float_menu a,
a.pe_a_name {
	text-decoration: none;
}

