html {
	height: 100%; 
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll; /* force vertical scroll bar to be always present */
}

body {
	background: #FFFFFF url(/images/header.gif) repeat-x top left;
	color: #000000;
	height: 100%;
	margin: 0;
	padding: 0;
	font: 0.8em "Arial", Helvetica, Sans-Serif;
}

* {
	margin: 0;
}

h1 {
	font: 200% Arial, Sans-Serif;
	font-weight: bold;
	margin: 0;
}


h2 {
	margin: 15px 0 20px 0;
	padding: 0;
	font-size: 1.4em;
	color: #808080;
	background-color: inherit;
}

h2 a {
	color: #000000;
	text-decoration: none;
	background-color: inherit;
}

h3 {
   margin-top: 20px;
}

p, h3, h4, ul {
   margin-bottom: 12px;
}

p, li {
   text-align: justify;
}

a { 
	color: #444;
	background: inherit;
}

a:hover {
	color: #999;
	background: inherit;
}


h1 a {
	color: #444;
	background: inherit;
	text-decoration: none;
}

h1 a:hover {
	color: #999;
	background: inherit;
	text-decoration: none;
}

img {
	border: 0;
}

#site_info {
	margin: 0;
	padding: 0;
}

#site_info p {
	margin-top: 14px;
	margin-left: 6px;
	padding-bottom: 10px;
}

#site_info table th {
	vertical-align: top;
	white-space: nowrap;
	text-align: left;
}

#site_info table tr {
	background-color: #E6F2FF;
}

#site_info table tr.odd {
	background-color: #B9DCFF;
}

.indented {
	padding-left: 20px;
}

.coverage_library {
	font-weight: bold;
	color: #222266;
}

.header_and_content {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -50px;
}

.footer, .push {
	height: 50px;
}

#header {
	clear: both;
	width: 990px;
	height: 45px;
	margin: 0 auto;
}

#print_header {
	clear: both;
	width: 990px;
	height: 45px;
	margin: 0 auto;
	visibility: hidden;
	display: none;
}

#logo {
	float: left;
	padding: 6px 0 0 0;
	color: #000000;
	background: inherit;
	width: 410px;
}

.slogan {
	float: left;
	border-left: 1px solid #CCCCCC;
	margin-left: 10px;
	padding: 0 0 0 10px;
	margin-top: 3px;
}

#admin_menus {
	float: left;
/*	width: 406px;*/
	margin-top: 4px;
	height: 36px;
}

input.other-input {
	font: bold 12px "Arial", Helvetica, Sans-Serif;
	letter-spacing: 0px;
	font-weight: normal;
	border: solid 1px #3C6491;
}

input.other-input:focus {
	background-color: #ffc;
}

#export {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
/*	margin-top: 5px;*/
}

table.captcha_table {
	padding: 0;
	margin: 0;
/*	width: 120px;*/
}

#hmenu {
	padding: 13px 0 5px 0;
	float: right;
	font-size: 90%;
}

#hmenu a {
	padding: 12px 13px 2px 11px;
	text-decoration: none;
	font-weight: bold;
	color: #414141;
	background: #ccc url(/images/hmenuarrow.gif) no-repeat top center;
	margin: 0 0 3px 1px;
	border-bottom: 4px solid #BCBCBC;
	width: 100px;
}

#hmenu a:hover {
/*	background: #3C6491 url(/images/folder.gif) no-repeat center 2px;*/
	background: #666 url(/images/hmenuarrowhover.gif) no-repeat top center;
	color: #FFFFFF;
	border-bottom: 4px solid #444;
}


#selectable_folder_actions_feedback { font-size: 1.4em; }
/* RISM UK
#selectable_folder_actions .ui-selecting { background: #E6F2FF; }
#selectable_folder_actions .ui-selected { background: #B9DCFF; color: white; }
*/
#selectable_folder_actions .ui-selecting { background: #f9dada; }
#selectable_folder_actions .ui-selected { background: #B25C3F url(/images/big_tick.png) 0px 5px repeat-x; color: white; }
#selectable_folder_actions { width: 750px; list-style-type: none; margin: 0; padding: 0; margin-left: 18px; }
.folder_action_container { margin-bottom: 5px; margin-right: 0px; padding: 0px; font-size: 1em; }
.folder_action_section {
/*	padding: 10px;*/
	margin: 0px;
/*	min-height: 60px;*/
}
#selectable_folder_actions div.block1,
#selectable_folder_actions div.block2  {
	float: left;
	width: 360px;
	margin: 5px;
	margin-right: 0px;
	padding: 5px;
	padding-bottom: 0px;
	background-color: #BCBCBC;
}
#selectable_folder_actions div.block2 {
	float: right;
}
.folder_action_section span.label {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.5em;
}
.folder_action_section textarea {
	width: 320px;
}

#folders ul li {
	width: 110px;
/*	height: 56px;*/
	font-size: 10px;
	margin-right: 2px;
}

#folder_new_action {
	padding: 1px;
	margin: 3px;
	width: 280px;
	border: #999 solid 1px;
	background-color: #CCC
}

#folder_new_action a {
	color: black;
	padding: 5px;
}

.folder_action_container {
	width: 400px;
	border: 1px solid #999;
	background-color: #CCC;
	padding: 10px;
	margin: 3px;
}

.folder_action_section {
	float:left;
}

.folder_action_section label {
	padding-right: 6px !important;
}

#folder_apply_summary {
	padding: 4px;
}

#folder_action_summary {
	padding-top: 10px;
}

#folder_action_summary li {
	padding: 4px;
}

.folder_link {
	text-decoration: none;
	color: green !important;
	font-size: 1.1em;
}

.remove_action {
	text-decoration:none;
	font-style: italic;
	font-size: 0.8em;
	float: right;
}

#action_invocation {
	margin: 3px;border: 1px solid red; background-color: pink; padding: 10px; width: 400px;
}

.read-more,
.re-collapse {
	padding-left: 10px;
}
.read-more a,
.re-collapse a {
	text-decoration: none;
	color: #333;
}



.content {
	border-top: 1px solid #FEFEFE; 
	background: #FFFFFF url(/images/contentbg.gif) repeat-x left top;
	color: #000000;
}

#main {
	width: 990px;
	padding: 3px 0 0 0px;
	margin: 0 auto 0 auto;
}

#right {
	float: left;
	width: 792px;
	padding: 2px 0 0 13px;
}

#left {
	float: left;
	width: 180px;
	margin-top: 3px;
}

#leftmenu {
	margin: 1px 0 0 0;
	padding: 0;
	font-size: 90%;
}

#leftmenu span {
		display: block;
		font-style: italic;
		background-color: #999;
		color: #FFF;
		padding: 5px 0 5px 12px;
		margin: 0 0 1px 0;
}

#leftmenu a {
	font-weight: bold;	
	display: block;
	background-color: #999;
 	color: #FFF;
	padding: 5px 0 5px 12px;
	margin: 0 0 1px 0;
	text-decoration: none;
}

#leftmenu a:hover {
	color: #FFF;
	background-color: #444;
}

#leftmenu a.browse {
	display: block;
	background: #999 url(/images/vmenuarrow.gif) no-repeat 6px center;
	color: #FFF;
	padding: 5px 0 5px 25px;
	margin: 0 0 1px 0;
	text-decoration: none;
}

#leftmenu a.browse:hover {
	color: #FFF;
	background: #444 url(/images/vmenuarrowhover.gif) no-repeat 6px center;
}

#menusplitter {
	background-color: #BBB;
	color: #FFFFFF;
	padding: 4px;
	margin: 0 0 1px 0; 
}

.adminactions li {
   list-style: none;
}

/*****************/
/* LANGUAGE  	 */
/*****************/

div#i18n_none {
	padding: 2px; 
	background: #999
}

div#i18n {
	padding: 4px; 
	padding-left: 28px; 
	background: #999 url(/images/lang.png) 2px 1px no-repeat
}

div#i18n a {
	text-decoration: none;
	color: #cdcdcd;
	font-weight: bold;
	margin-left: 2px;
	background: none;
}



.leftarticle {
	background: #EEEEEE;
	color: #808080;
	margin: 2px 0 2px 0;
	padding: 8px;
	line-height: 1.4em;
}

.footer {
	clear: both;
	height: 50px;
	background-color: #EEEEEE;
}

#additional {
	clear: both;
	width: 970px;
	height: 30px;
	border-top: solid #EEEEEE 5px;
	background-color: #FFFFFF;
	color: #000000;
	margin: 0 auto;
	padding: 15px 20px 0px 20px;
}
#additional a {
	text-decoration: none;
}

#links {
	clear: both;
	margin: 0 auto;
	width: 970px;
	padding: 0;
	color: #FFF;
}

#whiteline {
	margin-top: 10px;
	border-top: 3px solid #FFFFFF;
}

span.loginlink a {
	color: #ffffff;
}

span.loginlink a:hover {
	color: #e0e0e0;
}

#footer {
	margin: 5px auto;
	width: 980px;
	padding: 0 5px 0 5px;
}

#footer p {
	padding-top: 10px;
	padding-bottom: 25px;
	line-height: 1.8em;
	color: #808080;
	background: #EEEEEE;
}

#footer a {
	color: #808080;
	background: inherit;
}


span.quick_help {
	padding: 0 !important;
	margin: 0 !important;
}

.quick_help a {
	background-color:#DDD !important;
	color:#444 !important;
	font-weight:bold;
	margin:0 !important;
	padding:0px 2px 0px 2px !important;
	text-decoration:none;
	border: 1px solid #808080;
}

form.search { padding: 0; margin: 0; }

#searchform {
	background-color: #808080;
	color: #FFFFFF;
	padding: 5px 5px 5px 12px;
	margin: 0px;
}

.admin_search_field {
	background-color: #aa8080;
}

input.text { margin: 0; padding: 0; width: 120px; border: 1px solid #eee; color: #000000; background: #d8d8d8; }
input.text:hover { border: 1px solid #FFFFFF; background: #EEEEEE; color: #000000; }
input.button { 
	margin: 0; 
	padding: 0 0 0 0; 
	font-size: 100%; 
	font-family: Arial, Sans-Serif;
	border: none; 
	background: none; 
	color: #FFF; 
	background: transparent; 
	font-weight: bold; 
}

ul.panel_info_list {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}
ul.panel_info_list li {
	padding: 3px;
}

.grey_title {
	font-size: 1.4em;
	font-weight: bold;
	color: #555;
	padding: 5px;
}

ul.folder_workshop_notes {
	list-style-type: circle;
	list-style-position: outside;
	margin-left: 24px;
	padding: 0;
}
ul.folder_workshop_notes li {
	padding: 4px;
}

div.spaced p {
	padding-bottom: 20px;
}

/********************************/
/* LISTERS/WORK FLOW COLUMN ETC */
/********************************/
span.pub a.xpub {
	color: green;
	font-weight: bold;
}
span.unp a.xunp {
	color: red;
	font-weight: bold;
}
span.pub, span.unp, span.pub input, span.unp input {
	font-size: 9px;
	vertical-align: middle;
}
/**************************/
/* IMPORT/EXPORT PROGRESS */
/**************************/
/*
.progress{
  width: 1px;
  height: 16px;
  color: white;
  font-size: 12px;
  overflow: hidden;
  background-color: #BF3E18;
  padding-left: 5px;
  border: 1px #000000 solid;
}
*/
/*.progressBar img, .percentImage img {*/
#progress_image {
	background: transparent url(/images/percentImage_back.png) bottom left no-repeat;
	height: 14px;
	width: 123px;
	padding: 0;
	background-position: -120px 2px;
}

.progress_indicator { height: 20px; width: 120px; position: relative; border: 1px solid #536070; background-color: #A8B1BC; }
.progress_indicator span { position: absolute; height: 100%;}
.progress_indicator .bar.running  { background-color: #1687C2; }
.progress_indicator .bar.finished { background-color: #00AF00; }
.progress_indicator .bar.stopping { background-color: orange; }
.progress_indicator .bar.stopped  { background-color: #E90000; }
.progress_indicator .bar.failed   { background-color: #C90000; }

.progress_indicator .label { width: 100%; font-weight: bold; padding-top: 2px; font-family: "Arial", sans-serif; color: white; }
.progress_indicator .elapsed { margin-left: 2%; }
.progress_indicator .estimated { margin-left: 75px; width: 45px; }


/* WORKERS */
.worker_dump {
	font-size: 9px;
}

#workers {
	text-align: middle;
	margin-left: 30px;
}
#workers table td.section {
	border: 1px dotted #aaaaaa;
	width: 180px;
	line-height: 2em;
	text-align: center;
	background-color: #dfc5c8;
	font-weight: bold;
}
#workers table td.line {
	width: 80px;
/*	background-color: green;*/
}
#workers table td.line hr {
	border: 1px dotted #aaaaaa;
}

#workers table td.side {
	border-right: 1px dotted #aaaaaa;
}

#workers ul.daemon {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	text-align: left;
/*	background-color: #dfc5c8;*/
}

.worker_list_state_failed, .worker_list_state_stopped, .worker_list_state_stopping, .worker_list_state_running, .worker_list_state_pending, .worker_list_state_finished {
	padding: 4px;
	padding-left: 20px;
}

.worker_list_state_failed {
	background: transparent url(/images/bullet_red.png) no-repeat 0px center;
} 
.worker_list_state_stopped, .worker_list_state_stopping {
	background: transparent url(/images/bullet_orange.png) no-repeat 0px center;
}
.worker_list_state_running {
	background: transparent url(/images/bullet_green.png) no-repeat 0px center;
}
.worker_list_state_pending {
	background: transparent url(/images/bullet_orange.png) no-repeat 0px center;
}
.worker_list_state_finished {
	background: transparent url(/images/bullet_grey.png) no-repeat 0px center;
}

#daemon_legend {
	float: right;
	font-size: 11px;
}

#daemon_legend td {
	text-align: left;
	vertical-align: center;
}

#daemon_legend td img {
	padding-left: 10px;
	padding-right: 2px;
}

#time {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	font-variant:small-caps;
}
/*****************/
/* MS SHOW PAGE  */
/*****************/

#show_master,
#show_master_footer {
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 4px;
	background-color: #ccc;
	border-top: 4px solid #BCBCBC;
}

#show_master_footer {
	border-top: 0;
	background-color: transparent;
	border-bottom: 4px solid #EEE;
}

.show_group_head {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #555;
	font-weight: bold;
}

.show_group_head span {
	color: #BF3E18;
	padding-bottom: 2px;
	border-bottom: 2px solid #EEE;
	font-size: 120%;
}

table.show_inline {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	background-color: #FFF;
}

table.show_inline th {
	width: 200px;
	margin: 0;
	padding:2px 2px 2px 5px;
	background-color: #FFF;
}

table.show_inline td.show_group_subhead {
   color: #555;
   font-size: 105%;
   font-style: italic;
	padding:10px 2px 5px 5px;
	background-color: #FFF;
}

table.show_inline td {
	background-color:#FFFFFF;
	border-top:0 none;
	margin:0;
	padding:2px
}

/*****************/
/* MS EDIT FORM  */
/*****************/

ul.alltags{
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	margin-top: 5px;
/*	border: 1px rgb(39,78,144) solid;*/
}

ul.alltags li {
/*	border: 1px #00ffff solid;*/
/*	background-color: #5e5e5e;*/
/*	margin: 1px;*/
/*	margin-top: 20px;*/
}

.fifty_list {
	width: 550px;
}

.top_space {
	margin-top: 18px;
}

.top_group_space {
	margin-top: 24px;
}

table.group_header {
	background-color: rgb(60,90,200);
	padding: 2px;
}

table.block_header {
	background-color: rgb(100,135,220);
	padding: 2px;
}

table.block_footer {
	background-color: rgb(140,170,230);
	padding: 0px;
}

table.tag_header {
	background-color: rgb(140,170,230);
}

ul.group_list {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

ul.tag_group {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

ul.tag_group li {
	background-color: rgb(60,90,200);
}

ul.tag_block {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

ul.tag_block li {
	background-color: rgb(160,190,250);
}

table.field_row {
	width: 99.5%;
/*	padding: 1px;*/
}

table.field_row td {
/*	padding-left: 1px;*/
}

table.edit_header {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 550px;
}
table.edit_header td {
	padding-bottom: 4px;
}

.subfield_title {
	color: #ffffff;
/*	background-color: #ff0000;*/
}

.subfield_title a {
	color: #ffffff;
/*	text-decoration: none;*/
	font-size: 10px;
/*	border: 1px rgb(140,170,230) solid;*/
	margin-right: 2px;
	padding-left: 1px;
	padding-right: 1px;
}

.subfield_title a:hover {
	background-color: rgb(140,170,230);
}

input.subfield_entry, select.subfield_entry, textarea.subfield_entry {
	width: 100%;
	border: 1px #aaaadd solid;
	border-top: 1px #6666aa solid;	
	vertical-align: top;
}


ul.repeating_subfield {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

input.function_entry, select.function_entry {
	border: 1px #aaaadd solid;
	border-top: 1px #6666aa solid;
}

.almost_a_hundred {
	width: 98%;
}
.hundred {
	width: 100%;
}

input.function_button {
	width: 100px;
	border: 1px #404040 solid;
	border-top: 1px #fafafa solid;
	border-left: 1px #fafafa solid;
}

.add_tag_disabled {
	color: #adadad;
	font-style: italic;
}


table.source_viewer {
	border-left: 2px rgb(0,51,153) solid;	
	border-top: 2px rgb(0,51,153) solid;	
	border-right: 2px rgb(0,51,153) solid;	
}

table.technical {
	border-left: 2px rgb(0,51,153) solid;	
/*	border-bottom: 2px rgb(0,51,153) solid;	*/
	border-right: 2px rgb(0,51,153) solid;	
}

table.external_entities {
	border-left: 2px rgb(0,51,153) solid;	
	border-bottom: 2px rgb(0,51,153) solid;	
	border-right: 2px rgb(0,51,153) solid;	
}


/*******************/
/* jQuery Validate */
/*******************/

label.error {
   display: block;
   color: red !important;
   font-style: italic;
   font-weight: normal;
}

input.error {
   border: 1px solid red !important;
}

td.field input.error, td.field select.error, tr.errorRow td.field input,tr.errorRow td.field select {
   border: 1px solid red !important;
   background-color: #FFFFD5;
   margin: 0px;
   color: red;
}

/*******************/
/* QUICK SEARCH    */
/*******************/
#searchform table {
	padding: 0;
	margin: 0;
	border: 0;
}
#searchform td {
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: 0;
}


/*******************/
/* ADVANCED SEARCH */
/*******************/
#advanced_quick_help {
	margin-left: 8px;
}

#advanced_quick_help p {
	margin-bottom: 20px;
}


ul.advanced_search {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;	
}

ul.advanced_search li {
	//padding-bottom: 15px;
}


input.adv_entry, select.adv_entry {
	width: 100%;
/*	border: 1px #aaaadd solid;*/
/*	border-top: 1px #6666aa solid;	*/
}

input.adv_lookup_entry {
	width: 100%;
}

span.help_definition {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}

/*input.adv_button {
	border: 1px #aaaadd solid;
	border-top: 1px #6666aa solid;	
}
*/
/*****************/
/* AUTO COMPLETE */
/*****************/

div.auto_complete {
	z-index: 2;
    width: 350px;
    background: #fff;
}

div.auto_complete ul {
    border: 1px solid #888;
    margin: 0;
    padding: 0;
    width: 99%;
    list-style-type: none;
}

div.auto_complete ul li {
    margin: 0;
    padding: 3px;
}

div.auto_complete ul li.selected {
    background: #ffb;
}

div.auto_complete ul strong.highlight {
    color: #800;
    margin: 0;
    padding: 0;
}

div.auto_complete_field input {
	background: #ffffff url('/images/lookup.gif') no-repeat right;	
}


/**********************/
/* WF COL. IN LISTERS */
/**********************/

span.pub_pub a,
span.pub_unp a,
span.pub_del a,
span.pub_new a,
span.pub_unk a {
	font-family: Courier;
}
span.ownership {
	vertical-align: top;
	font-size: 0.75em;
	padding-right: 2px;
}
span.o_unsafe {
	color: red;
}
span.pub_pub a {
	color: green !important;
}

span.pub_del a,
span.pub_unp a {
	color: black !important;	
}

span.pub_unk a {
	color: red !important;
}

span.pub_new a {
	color: purple !important;
}

ul {
   padding:0 0 0 20px;
   list-style-position:inside;
}


/**********************/
/* MUSIC KEYBOARD     */
/**********************/

a.kb
{
	margin: 0px;
	height: 15px; 
	width: auto;
}

a.kb-rest, a.kb-dot, a.kb-barline
{
	margin-left: 10px; 
}

span.ui-icon-custom-00 { background-image: url(/icons/00.png) !important; }
span.ui-icon-custom-01 { background-image: url(/icons/01.png) !important; }
span.ui-icon-custom-02 { background-image: url(/icons/02.png) !important; }
span.ui-icon-custom-04 { background-image: url(/icons/04.png) !important; }
span.ui-icon-custom-08 { background-image: url(/icons/08.png) !important; }
span.ui-icon-custom-16 { background-image: url(/icons/16.png) !important; }
span.ui-icon-custom-32 { background-image: url(/icons/32.png) !important; }
span.ui-icon-custom-64 { background-image: url(/icons/64.png) !important; }
span.ui-icon-custom-rest { background-image: url(/icons/rest.png) !important; }
span.ui-icon-custom-dot { background-image: url(/icons/dot.png) !important; }
span.ui-icon-custom-barline { background-image: url(/icons/barline.png) !important; }

span.ui-icon-custom-00,
span.ui-icon-custom-01,
span.ui-icon-custom-02,
span.ui-icon-custom-04,
span.ui-icon-custom-08,
span.ui-icon-custom-16,
span.ui-icon-custom-32,
span.ui-icon-custom-64,
span.ui-icon-custom-rest,
span.ui-icon-custom-dot,
span.ui-icon-custom-barline
{
	height: 18px;
}

.tf_help a {
	background-color:#DDD !important;
	color:#444 !important;
	font-weight:bold;
	margin:0 !important;
	padding:0px 2px 0px 2px !important;
	text-decoration:none;
	border: 1px solid #808080;
}

