<div class="list-group">
    <a class="list-group-item {% if page.how-active == "how-overview" %}active{% endif %}" href="{{ site.baseurl }}/overview.xhtml">Overview</a>
    <a class="list-group-item {% if page.how-active == "how-features" %}active{% endif %}" href="{{ site.baseurl }}/features.xhtml">Features</a>
    <a class="list-group-item {% if page.how-active == "how-smufl" %}active{% endif %}" href="{{ site.baseurl }}/smufl.xhtml">SMuFL</a>
    <a class="list-group-item {% if page.how-active == "how-cmd" %}active{% endif %}" href="{{ site.baseurl }}/command-line.xhtml">Command-line interface</a>
    <a class="list-group-item {% if page.how-active == "how-js" %}active{% endif %}" href="{{ site.baseurl }}/javascript.xhtml">JavaScript toolkit</a>
    <a class="list-group-item {% if page.how-active == "how-py" %}active{% endif %}" href="{{ site.baseurl }}/python.xhtml">Python toolkit</a>
    <a class="list-group-item {% if page.how-active == "how-structure" %}active{% endif %}" href="{{ site.baseurl }}/structure.xhtml">Structure</a>
    <!--a class="list-group-item {% if page.how-active == "how-mei" %}active{% endif %}" href="{{ site.baseurl }}/supported-mei.xhtml">Supported MEI elements</a-->
</div>
