<div class="list-group">
    <a class="list-group-item {% if page.how-active == "how-cmd" %}active{% endif %}" href="{{ site.baseurl }}/command-line.xhtml">Command-line tool</a>
    <a class="list-group-item {% if page.how-active == "how-js" %}active{% endif %}" href="{{ site.baseurl }}/javascript.xhtml">Javascript toolkit</a>
    <a class="list-group-item {% if page.how-active == "how-structure" %}active{% endif %}" href="{{ site.baseurl }}/structure.xhtml">Structure</a>
	<a class="list-group-item {% if page.how-active == "how-features" %}active{% endif %}" href="{{ site.baseurl }}/features.xhtml">Features</a>
    <a class="list-group-item {% if page.how-active == "how-mei" %}active{% endif %}" href="{{ site.baseurl }}/supported-mei.xhtml">Supported MEI</a>
</div>