<p style="margin-top: 12px;">
    <button id="{{ include.id }}" class="toggle_code btn btn-default btn-sm" type="button">
        <span class="glyphicon glyphicon-eye-open"/> View the HTML
    </button>
    <a href="{{ site.baseurl }}/gh-tutorial/{{ include.file }}" target="_blank">
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-new-window" />  Open the example
        </button>
    </a>
    <!--
    <a href="{{ site.baseurl }}/gh-tutorial/{{ include.file }}" download="">
         <button class="btn btn-default btn-sm" type="button">
             <span class="glyphicon glyphicon-download"/> Download the full tutorial
         </button>
    </a>
    -->
</p>