<div class="list-group">
    <a class="list-group-item {% if page.other-active == "musicxml" %}active{% endif %}" href="{{ site.baseurl }}/musicxml.xhtml">MusicXML Converter</a>
    <a class="list-group-item {% if page.other-active == "pae-examples" %}active{% endif %}" href="{{ site.baseurl }}/pae-examples.xhtml">Plain &amp; Easy Examples</a>
    <a class="list-group-item {% if page.other-active == "pae-editor" %}active{% endif %}" href="{{ site.baseurl }}/pae-editor.xhtml">Plain &amp; Easy Editor</a>
</div>