---
---
<h3>Critical apparatus</h3>


<p>
    Verovio supports basic <code>&lt;app&gt;</code> and <code>&lt;rdg&gt;</code>/<code>&lt;lem&gt;</code> elements. During rendering, the lemma or the first reading is selected by default. A specific reading can easily be selected using the <code>--rdg-xpath-query=QUERY</code> option (<code>rdgXPathQuery</code> with the JavaScript toolkit).
</p>

<p>
    For example, the following example contains <code>&lt;app&gt;</code> elements with <code>&lt;lem&gt;</code> and <code>&lt;rdg&gt;</code> elements for the lyrics and some of the music notes. By default, the lemma is displayed.
</p>
<div id="svg_output-1" style="overflow:auto;"/>

<p>
    By passing the a <code>./rdg[contains(@source, '1570')]</code> value to the <code>--rdg-xpath-query</code> option, we can display the reading encoded with <code>&lt;rdg&gt;</code> elements with a <code>@source</code> attribute with value "1570". In this particular case, this will render alternate lyrics and notes in the fourth measure. It will also render an alternate <code>&lt;scoreDef&gt;</code> with a <code>&lt;staffDef&gt;</code> where some of the attributes are different (<code>@label</code>). Non redefined attributes (e.g. <code>@clef.line</code> or <code>@clef.shape</code>) are preserved from the original <code>&lt;staffDef&gt;</code>.
</p>
<div id="svg_output-2" style="overflow:auto;"/>

<p>
    Similarly, the <code>--rdg-xpath-query</code> option can be used to select a specific <code>&lt;scoreDef&gt;</code>, here with the <code>./rdg[contains(@label, 'original')]</code> value.
</p>
<div id="svg_output-3" style="overflow:auto;"/>
<script type="text/javascript">
//<![CDATA[
    zoom = 40;
    pageWidth = 1450;
    
    // adjust the zoom for small screens
    width = $('#feature').width();
    if ( width < zoom * pageWidth / 100 ) {
        zoom = width * 100 / pageWidth;
    }

    $.get( "{{ site.baseurl }}/examples/features/app.mei" , function( data ) {
        load_data( data, $('#svg_output-1') );
    });
    
    $.get( "{{ site.baseurl }}/examples/features/app.mei" , function( data ) {
        appXPath = "./rdg[contains(@source, '1570')]"
        load_data( data, $('#svg_output-2') );
    });
    
    $.get( "{{ site.baseurl }}/examples/features/app.mei" , function( data ) {
        appXPath = "./rdg[contains(@label, 'original')]"
        load_data( data, $('#svg_output-3') );
    });
//]]>
</script>

{% include mei-excerpt.html id="code1" file="app.mei" %}
<div id="code1-xml" style="display: none">
{% highlight xml %}
{% include features/app.txt %}
{% endhighlight %}
</div>
<br/>

<!-- ***************************** -->
<h4>SVG structure</h4>

<p>
    The MEI structure is preserved as much as possible in the SVG output. For example, for the first note of the excerpt above, the MEI and SVG structure can be outlined as displayed below. The <code>&lt;app&gt;</code> and <code>&lt;lem&gt;</code> becomes a <code>&lt;g&gt;</code> element in the SVG with the corresponding <code>@id</code> attribute.
</p>

<div class="row">
    <div class="col-sm-6">
{% highlight xml %}
<note xml:id="p1cad4n0v1b1s2">
  <app xml:id="app-001">
    <lem xml:id="lem-001">
      <verse xml:id="verse-001" n="1">
        <syl xml:id="syl-001">Di</syl>
      </verse>
    </lem>
    <rdg xml:id="rdg-001" source="1570">
      <verse xml:id="verse-002" n="1">
        <syl xml:id="syl-002">When</syl>
      </verse>
    </rdg>
  </app>
</note>
{% endhighlight %}
    </div>
    
    <div class="col-sm-6">
{% highlight xml %}
<g class="note" id="p1cad4n0v1b1s2">
  <g class="app" id="app-001">
    <g class="lem" id="lem-001">
      <g class="verse" id="verse-001">
        <g class="syl" id="syl-001">
          <text>
            <tspan>Di</tspan>
          </text>
        </g>
      </g>
    </g>
  </g>
</g>
{% endhighlight %}
    </div>
</div>


<!-- ***************************** -->
<h4>Nested apparati</h4>

<p>
    Verovio also supports nested apparati when differences between sources occur at different levels. The three examples below show three versions. The differences between the second and the third sources is encoded in a nested <code>&lt;app&gt;</code> element. The corresponding hierarchy is also preserved in the SVG output.
</p>

<div class="row">
    <div class="col-sm-4">
        <table>
            <tr>
                <td><code>@source="src1"</code></td>
            </tr>
            <tr>
                <td>
                    <div id="svg_output-4-1" style="overflow:auto;"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td><code>@source="src2"</code></td>
            </tr>
            <tr>
                <td>
                    <div id="svg_output-4-2" style="overflow:auto;"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td><code>@source="src3"</code></td>
            </tr>
            <tr>
                <td>
                    <div id="svg_output-4-3" style="overflow:auto;"/>
                </td>
            </tr>
        </table>
    </div>
</div>

    
{% include mei-excerpt.html id="code2" file="app-nested.mei" %}
<div id="code2-xml" style="display: none">
{% highlight xml %}
{% include features/app-nested.txt %}
{% endhighlight %}
</div>
<br/>

<script type="text/javascript">
//<![CDATA[
    zoom = 40;
    pageWidth = 1450;
    spacingStaff = 3;
    
    // adjust the zoom for small screens
    width = $('#feature').width();
    if ( width < zoom * pageWidth / 100 ) {
        zoom = width * 100 / pageWidth;
    }
    
    $.get( "{{ site.baseurl }}/examples/features/app-nested.mei" , function( data ) {
        appXPath = "";
        noLayout = 1;
        load_data( data, $('#svg_output-4-1') );
    });;
    $.get( "{{ site.baseurl }}/examples/features/app-nested.mei" , function( data ) {
        appXPath = "./rdg[contains(@source, 'src2')]";
        noLayout = 1;
        load_data( data, $('#svg_output-4-2') );
    });;
    $.get( "{{ site.baseurl }}/examples/features/app-nested.mei" , function( data ) {
        appXPath = "./rdg[contains(@source, 'src3')]";
        noLayout = 1;
        load_data( data, $('#svg_output-4-3') );
    });;
//]]>
</script>


