---
---
<h4>Editorial makup</h4>

<p>
    Verovio supports the following editorial markup elements: <code>&lt;abbr&gt;</code> <code>&lt;add&gt;</code> <code>&lt;corr&gt;</code> <code>&lt;damage&gt;</code> <code>&lt;del&gt;</code> <code>&lt;expan&gt;</code> <code>&lt;orig&gt;</code> <code>&lt;reg&gt;</code> <code>&lt;restore&gt;</code> <code>&lt;sic&gt;</code> <code>&lt;supplied&gt;</code> <code>&lt;unclear&gt;</code>.
</p>

<p>
    They all remain invisible in the output. However, they are preserved in the SVG structure for further interaction. Nested editorial markup is also supported.
</p>

<div id="svg_output-1" style="overflow:auto;"/>

{% include mei-excerpt.html id="code1" file="editorial1.mei" %}
<div id="code1-xml" style="display: none">
{% highlight xml %}
{% include features/editorial1.txt %}
{% endhighlight %}
</div>

<p>
    The structure of the MEI and the SVG in the example above can be schematized as follows:
</p>

<div class="row">
    <div class="col-sm-6">
{% highlight xml %}
<sic>
  <beam>
    <note pname="e" oct="4" dur="8"/>
    <note pname="f" oct="4" dur="8"/>
    <unclear>
      <note pname="g" oct="4" dur="8"/>
    </unclear>
    <note pname="e" oct="4" dur="8"/>
  </beam>
</sic>
{% endhighlight %}
    </div>
    
    <div class="col-sm-6">
{% highlight xml %}
<g class="sic">
  <g class="beam">
    <g class="note"/>
    <g class="note"/>
    <g class="unclear">
      <g class="note"/>
    </g>
    <g class="note"/>
  </g>
</g>
{% endhighlight %}
    </div>
</div>

<!-- ***************************** -->
<h5>Editorial markup of text</h5>

<p>
    Verovio also supports editorial markup of text. However, since <code>&lt;g&gt;</code> SVG elements are not allowed within <code>&lt;text&gt;</code> SVG elements, <code>&lt;tspan&gt;</code> SVG elements with the corresponding <code>@class</code> attribute are used instead for preserving the editorial markup.
</p>


<div id="svg_output-2" style="overflow:auto;"/>

{% include mei-excerpt.html id="code2" file="editorial2.mei" %}
<div id="code2-xml" style="display: none">
{% highlight xml %}
{% include features/editorial2.txt %}
{% endhighlight %}
</div>


<p>
    The structure of the MEI and the SVG in the example above can be schematized as follows:
</p>

<div class="row">
    <div class="col-sm-6">
{% highlight xml %}
<tempo>
    
  Allegro 
  <add>
    molto 
    <unclear>
      vivace
    </unclear>
  </add>
  
</tempo>
{% endhighlight %}
    </div>
    
    <div class="col-sm-6">
{% highlight xml %}
<g class="tempo">
  <text>
    <tspan class="text">Allegro </tspan>
    <tspan class="add">
      <tspan class="text">molto </tspan>
      <tspan class="unclear">
        <tspan class="text">vivace</tspan>
      </tspan>
    </tspan>
  </text>
</g>
{% endhighlight %}
    </div>
</div>

<!-- ***************************** -->
<h4>Choice markup</h4>

<p>
    Verovio supports <code>&lt;choice&gt;</code> elements. During rendering, the only one child is rendered. By default, the first child is selected. A specific child can easily be selected using the <code>--choice-xpath-query=QUERY</code> option (<code>choiceXPathQuery</code> with the JavaScript toolkit). The <code>--choice-xpath-query=QUERY</code> option is repeatable with the command-line tool. With the JavaScript toolkit, multiple values can be passed as an array to a <code>choiceXPathQueries</code> option.
</p>

<p>
    The example below has three <code>&lt;choice&gt;</code> elements with an <code>&lt;orig&gt;</code> element as first child. It is shown be default (first rendering). In this second rendering the <code>choiceXPathQueries</code> is set to <code>["./corr"]</code> for showing the corrected version. In the third rendering, <code>choiceXPathQueries</code> is set to <code>["./reg", "./corr[@cert='high']"]</code>, which shows the regularized version and the correction but only the one with a high certainty.
</p>

<div class="row">
    <div class="col-sm-4">
        <table>
            <tr>
                <td>Original</td>
            </tr>
            <tr>
                <td>
                    <div id="svg_output-3-1" style="overflow:auto;"/>
                </td>
            </tr>
            <tr>
                <td><code>[ ]</code></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td>Corrected</td>
            </tr>
            <tr>
                <td>
                    <div id="svg_output-3-2" style="overflow:auto;"/>
                </td>
            </tr>
            <tr>
                <td><code>["./corr"]</code></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
                <td>Regularized and corrected (high certainty)</td>
            </tr>
            <tr>
                <td>
                    <div id="svg_output-3-3" style="overflow:auto;"/>
                </td>
            </tr>
            <tr>
                <td><code>["./reg", "corr[@cert='high']"]</code></td>
            </tr>
        </table>
    </div>
</div>


<div id="svg_output-3" style="overflow:auto;"/>

{% include mei-excerpt.html id="code3" file="choice.mei" %}
<div id="code3-xml" style="display: none">
{% highlight xml %}
{% include features/editorial2.txt %}
{% endhighlight %}
</div>

<script type="text/javascript">
//<![CDATA[
    zoom = 40;
    pageWidth = 1450;
    spacingStaff = 3;
    
    // adjust the zoom for small screens
    width = $('#feature').width();
    if ( width < zoom * pageWidth / 100 ) {
        zoom = width * 100 / pageWidth;
    }
    
    $.get( "{{ site.baseurl }}/examples/features/editorial1.mei" , function( data ) {
        choiceXPathQueries = []
        load_data( data, $('#svg_output-1') );
    });
    
    $.get( "{{ site.baseurl }}/examples/features/editorial2.mei" , function( data ) {
        choiceXPathQueries = []
        load_data( data, $('#svg_output-2') );
    });
    
    $.get( "{{ site.baseurl }}/examples/features/choice.mei" , function( data ) {
        choiceXPathQueries = []
        load_data( data, $('#svg_output-3-1') );
    });

    $.get( "{{ site.baseurl }}/examples/features/choice.mei" , function( data ) {
        choiceXPathQueries = ["./corr"]
        load_data( data, $('#svg_output-3-2') );
    });

    $.get( "{{ site.baseurl }}/examples/features/choice.mei" , function( data ) {
        choiceXPathQueries = ["./reg", "corr[@cert='high']"]
        load_data( data, $('#svg_output-3-3') );
    });

//]]>
</script>


