---
---
<h4>Lyrics</h4>

<p>
    Verovio supports basic <code>&lt;verse&gt;</code> and <code>&lt;syl&gt;</code> elements. The layout algorithm takes into account the lyrics and spaces the notes and the staves appropriately.
</p>

<div id="svg_output-1" style="overflow:auto;"/>

{% include mei-excerpt.html id="code1" file="lyrics1.mei" %}
<div id="code1-xml" style="display: none">
{% highlight xml %}
{% include features/lyrics1.txt %}
{% endhighlight %}
</div>

<!-- ***************************** -->
<h5>Multiple lines</h5>
<p>
    Verovio also supports multiple lines of lyrics. In that case, each line needs to have a corresponding <code>@n</code> attribute in the <code>&lt;verse&gt;</code> element. The layout algorithm takes into account the multiple lines and spaces the   staves appropriately.
</p>

<div id="svg_output-2" style="overflow:auto;"/>

{% include mei-excerpt.html id="code2" file="lyrics2.mei" %}
<div id="code2-xml" style="display: none">
{% highlight xml %}
{% include features/lyrics2.txt %}
{% endhighlight %}
</div>

<!-- ***************************** -->
<h5>Lyric connectors</h5>
<p>
    Verovio supports lyric connectors <code>@con</code> and <code>@wordpos</code> in <code>&lt;syl&gt;</code> elements. The connectors will be appropriately continued in case of system break occurring between the starting and ending node. A full example can be seen in the <a href="{{ site.baseurl }}/mei-viewer.xhtml?examples/downloads/Marenzio_Sesto_a_5_01.mei">viewer</a>.
</p>

<div id="svg_output-3" style="overflow:auto;"/>

{% include mei-excerpt.html id="code3" file="lyrics3.mei" %}
<div id="code3-xml" style="display: none">
{% highlight xml %}
{% include features/lyrics3.txt %}
{% endhighlight %}
</div>

<!-- ***************************** -->
<h5>Styling</h5>
<p>
    Verovio offers lyric styling on a per staff basis. <code>@lyric.name</code>, <code>@lyric.style</code>, and <code>@lyric.weight</code> in <code>&lt;staffDef&gt;</code> elements are supported.
</p>

<div id="svg_output-4" style="overflow:auto;"/>

{% include mei-excerpt.html id="code4" file="lyrics4.mei" %}
<div id="code4-xml" style="display: none">
{% highlight xml %}
{% include features/lyrics4.txt %}
{% endhighlight %}
</div>

<!-- ***************************** -->
<h5>Multiple languages</h5>
<p>
    Verovio recognizes <code>@xml.lang</code> in text elements like <code>&lt;verse&gt;</code> and <code>&lt;syl&gt;</code> and transfers them to the SVG output.
</p>

<div id="svg_output-5" style="overflow:auto;"/>

{% include mei-excerpt.html id="code5" file="multilingual.mei" %}
<div id="code5-xml" style="display: none">
{% highlight xml %}
{% include features/multilingual.txt %}
{% endhighlight %}
</div>

<script type="text/javascript">
//<![CDATA[
    zoom = 40;
    pageWidth = 1450;


    // adjust the zoom for small screens
    width = $('#feature').width();
    if ( width < zoom * pageWidth / 100 ) {
        zoom = width * 100 / pageWidth;
    }

    $.get( "{{ site.baseurl }}/examples/features/lyrics1.mei" , function( data ) {
        load_data( data, $('#svg_output-1') );
    });

    $.get( "{{ site.baseurl }}/examples/features/lyrics2.mei" , function( data ) {
        load_data( data, $('#svg_output-2') );
    });

    $.get( "{{ site.baseurl }}/examples/features/lyrics3.mei" , function( data ) {
        pageWidth = 1650;
        spacingStaff = 2;
        load_data( data, $('#svg_output-3') );
    });

    $.get( "{{ site.baseurl }}/examples/features/lyrics4.mei" , function( data ) {
        load_data( data, $('#svg_output-4') );
    });

    $.get( "{{ site.baseurl }}/examples/features/multilingual.mei" , function( data ) {
        load_data( data, $('#svg_output-5') );
    });
//]]>
</script>
