---
---
<h3>Repeats</h3>

<p>
    Verovio supports <code>&lt;mRpt&gt;</code>. The number on top of each repeat is calculated by Verovio. The <code>@mutli.number</code> in <code>&lt;scoreDef&gt;</code> or <code>&lt;staffDef&gt;</code> can be set to false for not showing the number. (The value of the <code>@mutli.number</code> will be set for the entire score or staff and cannot be redefined.)
</p>

<div id="svg_output-mrpt" style="overflow:auto;"/>

{% include mei-excerpt.html id="code-mrpt" file="mrpt.mei" %}
<div id="code-mrpt-xml" style="display: none">
{% highlight xml %}
{% include features/mrpt.txt %}
{% endhighlight %}
</div>
<br/>

<p>
    Verovio also supports repeats of two or more measures, with <code>&lt;mRpt2&gt;</code> and <code>&lt;multiRpt&gt;</code> respectively. With <code>&lt;multiRpt&gt;</code>, the number of measures to be repeted has to be provided in  <code>@num</code>.
</p>

<div id="svg_output-mrpt2" style="overflow:auto;"/>

{% include mei-excerpt.html id="code-mrpt2" file="mrpt2.mei" %}
<div id="code-mrpt2-xml" style="display: none">
{% highlight xml %}
{% include features/mrpt2.txt %}
{% endhighlight %}
</div>
<br/>

<div id="svg_output-multirpt" style="overflow:auto;"/>

{% include mei-excerpt.html id="code-multirpt" file="multirpt.mei" %}
<div id="code-multirpt-xml" style="display: none">
{% highlight xml %}
{% include features/multirpt.txt %}
{% endhighlight %}
</div>
<br/>

<!-- ***************************** -->
<h4>Beat repeats</h4>

<p>
    Verovio also supports beat repetition with <code>&lt;beatRpt&gt;</code> elements. The value of <code>@rend</code> determines the number of slashes, including for <code>@rend="mixed"</code> The alignment of the beat repetition will not work with compound meters when the repeated beat duration do not correspond to the meter signature unit.
</p>

<div id="svg_output-beatrpt1" style="overflow:auto;"/>
    
{% include mei-excerpt.html id="code-beatrpt1" file="beatrpt1.mei" %}
<div id="code-beatrpt1-xml" style="display: none">
{% highlight xml %}
{% include features/beatrpt1.txt %}
{% endhighlight %}
</div>
<br/>

<div id="svg_output-beatrpt2" style="overflow:auto;"/>

{% include mei-excerpt.html id="code-beatrpt2" file="beatrpt2.mei" %}
<div id="code-beatrpt2-xml" style="display: none">
{% highlight xml %}
{% include features/beatrpt2.txt %}
{% endhighlight %}
</div>
<br/>


<script type="text/javascript">
//<![CDATA[
    zoom = 40;
    pageWidth = 1500;
    spacingStaff = 4;
    
    // adjust the zoom for small screens
    width = $('#feature').width();
    if ( width < zoom * pageWidth / 100 ) {
        zoom = width * 100 / pageWidth;
    }
    
    $.get( "{{ site.baseurl }}/examples/features/mrpt.mei" , function( data ) {
        load_data( data, $('#svg_output-mrpt') );
    });
    
    $.get( "{{ site.baseurl }}/examples/features/mrpt2.mei" , function( data ) {
        load_data( data, $('#svg_output-mrpt2') );
    });
    
    $.get( "{{ site.baseurl }}/examples/features/multirpt.mei" , function( data ) {
        load_data( data, $('#svg_output-multirpt') );
    });
    
    $.get( "{{ site.baseurl }}/examples/features/beatrpt1.mei" , function( data ) {
        load_data( data, $('#svg_output-beatrpt1') );
    });
    
    $.get( "{{ site.baseurl }}/examples/features/beatrpt2.mei" , function( data ) {
        load_data( data, $('#svg_output-beatrpt2') );
    });
//]]>
</script>

