---
---

<h3>Tuplet</h3>
<p>
	The Plain and Easy (PAE) code is a simple music code for transcribing short monophonic incipits. It is mostly used by the Répertoire International des Sources Musicales (RISM) for inventorying the music incipits of the manuscripts. More information about the syntax is available on the <a href="http://www.iaml.info/en/activities/projects/plain_and_easy_code" target="_blank">IAML</a> website.
</p>

<div id="svg_output" style="overflow:auto;"/>

<script type="text/javascript">
//<![CDATA[
	zoom = 40;
	pageWidth = 1450;
	
	// adjust the zoom for small screens
	width = $('#feature').width();
	if ( width < zoom * pageWidth / 100 ) {
		zoom = width * 100 / pageWidth;
	}

	$.get( "{{ site.baseurl }}/examples/features/tuplet.mei" , function( data ) {
		load_data( data, $('#svg_output') );
	});
//]]>
</script>

{% include mei-excerpt.html id="code1" file="tuplet.mei" %}
<div id="code1-xml" style="display: none">
{% highlight xml %}
{% include features/tuplet.txt %}
{% endhighlight %}
</div>


<div id="svg_output-2" style="overflow:auto;"/>

<script type="text/javascript">
//<![CDATA[
	 pageWidth = 1450;

	 $.get( "{{ site.baseurl }}/examples/features/tupletspan.mei" , function( data ) {
		 load_data( data, $('#svg_output-2') );
	 });
//]]>
</script>

{% include mei-excerpt.html id="code2" file="tupletspan.mei" %}
<div id="code2-xml" style="display: none">
{% highlight xml %}
{% include features/tupletspan.txt %}
{% endhighlight %}
</div>

