<html lang="en" xml:lang="en" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{ page.title }}</title>
		<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" /><!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap/css/bootstrap.min.css" type="text/css" /><!-- Optional theme -->
		<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap/css/bootstrap-theme.min.css" type="text/css" />
		
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/verovio.css" />
		
	</head>
	<body>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{{ site.baseurl }}/javascript/jquery.min.js" type="text/javascript" ></script>
		<script src="{{ site.baseurl }}/javascript/jquery.touchSwipe.min.js" type="text/javascript" ></script>
		<script src="{{ site.baseurl }}/javascript/bootstrap.min.js" type="text/javascript" ></script>
		{% if page.verovio-light %}
		<script src="{{ site.baseurl }}/javascript/verovio-toolkit-light.js" type="text/javascript" ></script>
		{% else %}
		<script src="{{ site.baseurl }}/javascript/verovio-toolkit.js" type="text/javascript" ></script>
		{% endif %}
		<!--script src="{{ site.baseurl }}/javascript/canvg/rgbcolor.js" type="text/javascript" ></script-->
		<!--script src="{{ site.baseurl }}/javascript/canvg/StackBlur.js" type="text/javascript" ></script-->
		<!--script src="{{ site.baseurl }}/javascript/canvg/canvg.js" type="text/javascript" ></script-->
		
		{% include header.html %}
		
		<div class="container">
			
			{{ content }}
			
		</div>
	</body>
</html>
